@import './variables';

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.landing-page,
.admin-table {
  display: flex;
  height: 89.9vh;
  flex-direction: column;
  justify-content: center;
}

.app-bar-title {
  margin: auto;
}

.login-btn {
  width: 105.73px;
}

.wip-container {
  min-height: 89.2vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  display: block;
  margin: 20% auto;
  width: 204px;
}

.wip {
  width: 300px;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 500;
  letter-spacing: 0.0125em;
}
